@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;500&display=swap');

/* Zerando pré-estilizações */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus {
    font-weight: 500;
    -webkit-text-fill-color: black;
    transition: background-color 5000s ease-in-out 0s;
}

@keyframes loading {
    0% {
        cy: 10;
    }

    25% {
        cy: 3;
    }

    50% {
        cy: 10;
    }
}

html, body {
  height: 100%;
}  
body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #fae8b8; 
  }
  

canvas {
    height: 100vh;
    pointer-events: none;
    position: fixed;
    width: 100%;
    z-index: 3;
}

/* Rodapé */
.carona_fat {
    display: flex;
    padding-right: 10px;
    font-family: 'Inter', sans-serif;
}

.rodape {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    display: flex;
    align-items: center;
    padding-block: 24px;
    justify-content: space-around;
    background-color: #2196F3;
    box-shadow: 2px 4px 2px rgba(0, 0, 0, 0.25);
}

.Btn_refresh {
    display: flex;
    align-items: center;
    border: none;
    background-color: #2196F3;
    color: aliceblue;
    font-size: xx-large;
    cursor: pointer;
}

.btn_login {
    display: flex;
    width: 100px;
    height: 35px;
    justify-content: center;
    align-items: center;
    border: none;
    background-color: #1976D2;
    color: aliceblue;
    font-size: x-large;
    font-family: 'Inter', sans-serif;
    border: none;
    box-shadow: -4px 5px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    cursor: pointer;
    transition: .5s;
}

.btn_login:hover {
    background-color: #2196F3;
}

.logo_carrinho {
    display: flex;
    width: 32px;
    height: 32px;
}

/* Principal */
.logo-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.text_1 {
    padding-top: 10px;
}

.wrapper {
    position: relative;
    width: 400px;
    height: 440px;
    border: 2px solid rgba(255, 255, 255, .5);
    border-radius: 20px;
    background: #fae8b8;
    box-shadow: 0 0 30px rgba(0, 0, 0, .5);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    transform: scale(0);
    transition: transform .5s ease, height .2s ease;
    z-index: 2;
}

.wrapper.active-popup {
    transform: scale(1);
}

.wrapper.active {
    height: 520px;
}

.wrapper .form-box {
    width: 100%;
    padding: 20px;
}

.wrapper .form-box.login {
    transition: transform .18s ease;
    transform: translateX(0);
}

.wrapper.active .form-box.login {
    transition: none;
    transform: translateX(-800px);
}

.wrapper .form-box.register {
    position: absolute;
    transition: none;
    transform: translateX(420px);
}

.wrapper.active .form-box.register {
    transition: transform .18s ease;
    transform: translateX(0);
}

.wrapper .icon-close {
    position: absolute;
    top: 0;
    right: 0;
    width: 45px;
    height: 45px;
    background: black;
    font-size: 2em;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom-left-radius: 20px;
    cursor: pointer;
    z-index: 1;
    transition: .5s;
}

.wrapper .icon-close:hover {
    background-color: #1976D2;
}

.form-box h2 {
    font-size: 2em;
    color: black;
    text-align: center;
}

.input-box {
    position: relative;
    width: 100%;
    height: 50px;
    border-bottom: 2px solid black;
    margin: 30px 0;
}

.input-box label {
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    font-size: 1em;
    color: black;
    font-weight: 500;
    pointer-events: none;
    transition: .5s;
}

.input-box input:focus~label,
.input-box input:valid~label {
    top: -5px;
}

.input-box input {
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1em;
    color: black;
    font-weight: 600;
    padding: 0 35px 0 5px;
}

.input-box .icon {
    position: absolute;
    right: 8px;
    font-size: 1.2em;
    color: black;
    line-height: 57px;
}

.remember-forgot {
    font-size: .9em;
    color: black;
    font-weight: 500;
    margin: -15px 0 15px;
    display: flex;
    justify-content: space-between;
}

.remember-forgot label input {
    accent-color: black;
    margin-right: 3px;
}

.remember-forgot a {
    color: black;
    text-decoration: none;
}

.remember-forgot a:hover {
    text-decoration: underline;
}

/* Botão de Registro */
.form-box.register button {
    width: 100%;
    height: 45px;
    background: black;
    border: none;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    color: #fff;
    font-weight: 500;
    transition: .5s;
    font-family: 'Roboto', Arial;
    font-size: 14px;
    overflow: hidden;
    z-index: 1;
}

.form-box.register button:hover {
    background-color: #1976D2;
}

/* .form-box.register button::before {   
    background: black;
    border-radius: 6px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.4) inset;
    content: '';
    display: block;
    height: 100%;
    outline: none;
    margin: 0 auto;
    position: relative;
    transition: width 0.2s cubic-bezier(0.39, 1.86, 0.64, 1) 0.3s;
    width: 100%;
    cursor: pointer;
} */

/* .form-box.register button.btn .submitMessage svg {
    opacity: 1;
    top: 1px;
    transition: top .4s ease 600ms, opacity .3s linear 600ms;
}

.form-box.register button.btn .submitMessage .button-text span {
    top: 0;
    opacity: 1;
    transition: all 0.2s ease calc(var(--dr) + 600ms);
}

.form-box.register button.loading::before {
    transition: width .3s ease;
    width: 80%;
}

.form-box.register button.loading .loadingMessage {
    opacity: 1;
}

.form-box.register button.loading .loadingCircle {
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-name: loading;
    cy: 10;
}

.form-box.register button.complete .submitMessage svg {
    top: -30px;
    transition: none;
}

.form-box.register button.complete .submitMessage .button-text span {
    top: -8px;
    transition: none;
}

.form-box.register button.complete .loadingMessage {
    top: 80px;
}

.form-box.register button.complete .successMessage .button-text span {
    left: 0;
    opacity: 1;
    transition: all 0.2s ease calc(var(--d) + 1000ms);
}

.form-box.register button.complete .successMessage svg {
    stroke-dashoffset: 0;
    transition: stroke-dashoffset .3s ease-in-out 1.4s;
    
} */

.button-text span {
    opacity: 0;
    position: relative;
}

.message {
    top: 83%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    width: 100%;
}

/* .message svg {
    display: inline-block;
    fill: none;
    margin-right: 5px;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-width: 2;
}

.submitMessage .button-text span {
    top: 8px;
    transition: all 0.2s ease var(--d);
}

 .submitMessage svg {
    color: #2196F3;
    margin-left: -1px;
    opacity: 0;
    position: relative;
    top: 30px;
    transition: top .4s ease, opacity .3s linear;
    width: 14px;
}

.loadingMessage {
    opacity: 0;
    transition: opacity 0.3s linear 0.3s, top 0.4s cubic-bezier(0.22, 0, 0.41, -0.57);
}

.loadingMessage svg {
    fill: #5c86ff;
    margin: 0;
    width: 22px;
}

.successMessage .button-text span {
    left: 5px;
    transition: all 0.2s ease var(--dr);
}

.successMessage svg {
    color: #5cffa1;
    stroke-dasharray: 20;
    stroke-dashoffset: 20;
    transition: stroke-dashoffset .3s ease-in-out;
    width: 14px;
}

.loadingCircle:nth-child(2) {
    animation-delay: 0.1s;
}

.loadingCircle:nth-child(3) {
    animation-delay: 0.2s;
} */
/* Botão de Login */
.btn_1 {
    width: 100%;
    height: 45px;
    background: black;
    border: none;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    color: #fff;
    font-weight: 500;
    transition: .5s;
}

.btn_1:hover {
    background-color: #1976D2;
}

.login-register {
    font-size: .9em;
    color: #162938;
    text-align: center;
    font-weight: 500;
    margin: 25px 0 10px;
}

.login-register p a {
    color: #162938;
    text-decoration: none;
    font-weight: 600;
}

.login-register p a:hover {
    text-decoration: underline;
}

/* Input Foto */

input[type='file'] {
    display: none;
}

.max-width {
    max-width: 50%;
    width: 100%;
}

#imgPhoto {
    margin-top: 10%;
    width: 60%;
    height: 60%;
    background-color: #eee;
    border-radius: 50%;
    border: 3px solid black;
    cursor: pointer;
    transition: background .3s;
}

#imgPhoto:hover {
    background-color: rgb(180, 180, 180);
    transition: .3s;
}

.input-foto {
    position: relative;
    width: 100%;
    height: 100%;
    left: 0;
}

.form-box.register h2 {
    position: absolute;
    top: 13%;
    font-size: xx-large;
    left: 36%;
}

.register-name.desactive {
    opacity: 0;
    overflow: hidden;
}

.login-name.desactive {
    opacity: 0;
    overflow: hidden;
}

/* Loading */

.loading.register.active {
    opacity: 1;
    overflow: visible;
}

.loading.register {
    opacity: 1;
    overflow: hidden;
    position: fixed;
    z-index: 999;
    height: 2em;
    width: 2em;
    overflow: show;
    margin: auto;
    top: 365px;
    left: 0;
    bottom: 0;
    right: 0;
  }
  
  /* :not(:required) hides these rules from IE9 and below */
  .loading.register:not(:required) {
    /* hide "loading..." text */
    font: 0/0 a;
    color: transparent;
    text-shadow: none;
    background-color: transparent;
    border: 0;
  }
  
  .loading.register:not(:required):after {
    content: '';
    display: block;
    font-size: 10px;
    width: 1em;
    height: 1em;
    margin-top: -0.5em;
    -webkit-animation: spinner 150ms infinite linear;
    -moz-animation: spinner 150ms infinite linear;
    -ms-animation: spinner 150ms infinite linear;
    -o-animation: spinner 150ms infinite linear;
    animation: spinner 150ms infinite linear;
    border-radius: 0.5em;
    -webkit-box-shadow: rgba(255,255,255, 0.75) 1.5em 0 0 0, rgba(255,255,255, 0.75) 1.1em 1.1em 0 0, rgba(255,255,255, 0.75) 0 1.5em 0 0, rgba(255,255,255, 0.75) -1.1em 1.1em 0 0, rgba(255,255,255, 0.75) -1.5em 0 0 0, rgba(255,255,255, 0.75) -1.1em -1.1em 0 0, rgba(255,255,255, 0.75) 0 -1.5em 0 0, rgba(255,255,255, 0.75) 1.1em -1.1em 0 0;
    box-shadow: rgba(255,255,255, 0.75) 1.5em 0 0 0, rgba(255,255,255, 0.75) 1.1em 1.1em 0 0, rgba(255,255,255, 0.75) 0 1.5em 0 0, rgba(255,255,255, 0.75) -1.1em 1.1em 0 0, rgba(255,255,255, 0.75) -1.5em 0 0 0, rgba(255,255,255, 0.75) -1.1em -1.1em 0 0, rgba(255,255,255, 0.75) 0 -1.5em 0 0, rgba(255,255,255, 0.75) 1.1em -1.1em 0 0;
  }

/* Loading */

.loading.login.active {
    opacity: 1;
    overflow: visible;
}

.loading.login {
    opacity: 1;
    overflow: hidden;
    position: fixed;
    z-index: 999;
    height: 2em;
    width: 2em;
    overflow: show;
    margin: auto;
    top: 190px;
    left: 0;
    bottom: 0;
    right: 0;
  }
  
  /* :not(:required) hides these rules from IE9 and below */
  .loading.login:not(:required) {
    /* hide "loading..." text */
    font: 0/0 a;
    color: transparent;
    text-shadow: none;
    background-color: transparent;
    border: 0;
  }
  
  .loading.login:not(:required):after {
    content: '';
    display: block;
    font-size: 10px;
    width: 1em;
    height: 1em;
    margin-top: -0.5em;
    -webkit-animation: spinner 150ms infinite linear;
    -moz-animation: spinner 150ms infinite linear;
    -ms-animation: spinner 150ms infinite linear;
    -o-animation: spinner 150ms infinite linear;
    animation: spinner 150ms infinite linear;
    border-radius: 0.5em;
    -webkit-box-shadow: rgba(255,255,255, 0.75) 1.5em 0 0 0, rgba(255,255,255, 0.75) 1.1em 1.1em 0 0, rgba(255,255,255, 0.75) 0 1.5em 0 0, rgba(255,255,255, 0.75) -1.1em 1.1em 0 0, rgba(255,255,255, 0.75) -1.5em 0 0 0, rgba(255,255,255, 0.75) -1.1em -1.1em 0 0, rgba(255,255,255, 0.75) 0 -1.5em 0 0, rgba(255,255,255, 0.75) 1.1em -1.1em 0 0;
    box-shadow: rgba(255,255,255, 0.75) 1.5em 0 0 0, rgba(255,255,255, 0.75) 1.1em 1.1em 0 0, rgba(255,255,255, 0.75) 0 1.5em 0 0, rgba(255,255,255, 0.75) -1.1em 1.1em 0 0, rgba(255,255,255, 0.75) -1.5em 0 0 0, rgba(255,255,255, 0.75) -1.1em -1.1em 0 0, rgba(255,255,255, 0.75) 0 -1.5em 0 0, rgba(255,255,255, 0.75) 1.1em -1.1em 0 0;
  }
  
  /* Animation */
  
@-webkit-keyframes spinner {
    0% {
      -webkit-transform: rotate(0deg);
      -moz-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(360deg);
      -moz-transform: rotate(360deg);
      -ms-transform: rotate(360deg);
      -o-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
@-moz-keyframes spinner {
    0% {
      -webkit-transform: rotate(0deg);
      -moz-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(360deg);
      -moz-transform: rotate(360deg);
      -ms-transform: rotate(360deg);
      -o-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
@-o-keyframes spinner {
    0% {
      -webkit-transform: rotate(0deg);
      -moz-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(360deg);
      -moz-transform: rotate(360deg);
      -ms-transform: rotate(360deg);
      -o-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
@keyframes spinner {
    0% {
      -webkit-transform: rotate(0deg);
      -moz-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(360deg);
      -moz-transform: rotate(360deg);
      -ms-transform: rotate(360deg);
      -o-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }

/* Media query de adaptação */
/* Celular */
@media screen and (width < 430px) {
    
    .rodape {
        display: flex;
        padding: 20px;
    }

    main {
        width: 100%;
        height: 100%;
    }
    
    .logo_uerj {
        width: 340px;
        height: auto;
    }
    .logo-text{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .wrapper {
        top: 20%;
        width: 100%;
    }
}

@media screen and (min-width: 430px) and (max-width: 668px) {
    .rodape {
      display: flex;
      padding: 20px;
    }
    
    .logo_uerj {
      width: 400px;
      height: auto;
    }
    
    .logo-text {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }

@media screen and (height < 500px) {
    .logo-text {
        top: 235px;
    }
    .wrapper {
        position: absolute;
        left: 25%;
        transition: transform .5s ease, height .2s ease;
        bottom: -240px;
    }
}